**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!patches/
!patches/**

!apps/
apps/*
!apps/api/
apps/api/*
!apps/api/package.json
!apps/api/src/
!apps/api/src/**
!apps/api/drizzle/
!apps/api/drizzle/**

!packages/
packages/*
!packages/core/
packages/core/*
!packages/core/package.json
!packages/core/src/
!packages/core/src/**
